.article-container {
  display: flex;
  justify-content: center;
  position: relative;

  .article-list {
    display: flex;
    flex-direction: column;

    .article {
      display: flex;
    }
  }

  .article-image-container {
    margin-right: 0.5rem;
    img {
      border-radius: 15px;
      width: 40vw;
      height: 40vh;
      object-fit: cover;
      margin-bottom: 2rem;
    }

    .article-image {
      display: none;
    }

    .default-article-image {
      display: block;
    }
  }

  .article-text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    &:hover {
      border-bottom: 2px solid black;
      cursor: pointer;
    }
  }

  .learn-more {
    font-size: 0.8rem;
    display: none;
    padding: 0.5rem 0;
  }
}
.see-articles {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  position: absolute;
  left: 47%;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .article-container {
    flex-direction: column;

    .article {
      text-align: center;
      flex-direction: column;
      opacity: 0.6;
      transition: all 0.5s ease;

      &:hover {
        opacity: 1;
      }

      .article-image-container {
        margin: auto;
      }
    }
    .article-image {
      display: block !important;
      height: 20vh !important;
      width: 80vw !important;
    }
    & .article-image-container:first-child {
      display: none;
    }
  }
}
