.navbar {
  padding: 2rem 0 1rem;
  // background-color: red;
  a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style: none;
  }

  .mobile-nav {
    display: none;
  }

  .navbar-items {
    display: flex;
    width: 45vw;
    justify-content: space-around;

    .navbar-dropdown {
      font-weight: 600;
      cursor: pointer;
    }
  }

  .navbar-icons {
    display: flex;
    width: 7vw;
    justify-content: space-around;
  }
}

.dropdown-content {
  background-color: white;
  display: flex;
  height: 80vh;
  justify-content: space-around;
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid gray;
  visibility: hidden;
  position: absolute;
  width: 100vw;
  z-index: 100;

  .dropdown-category-wrapper {
    height: 60vh;
    position: relative;
  }

  .dropdown-category {
    display: flex;
    margin: 0 auto;
    height: fit-content;
    width: 50vw;
    flex-grow: 1;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-around;

    .dropdown-gadget {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-grow: 1;
      flex-basis: 50%;
      margin: 1.5rem 0;
      padding: 1rem;

      .dropdown-icon {
        background-color: #f8f9fa;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        img {
          display: block;
          margin: 1.3rem auto;
          height: 1.5rem;
          width: auto;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .dropdown-category-desc {
    // margin-left: 2rem;
    width: 45vw;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 8%;
  }

  .dropdown-editorial {
    border-left: 1px solid gray;
    padding-left: 3rem;
    height: 70vh;
    cursor: pointer;
    img {
      width: auto;
      height: 20rem;
      border-radius: 20px;
    }

    .editorial-title {
      font-weight: 300;
      margin: 0.5rem 0;
    }

    .editorial-desc {
      max-width: 20vw;
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
    }

    .date {
      font-weight: 300;
    }
  }
}

@media (max-width: 430px) {
  .navbar {
    width: 100%;
    ul {
      flex-direction: column;
    }

    .navbar-logo {
      img {
        width: auto;
        height: 2rem;
      }
    }

    .navbar-items {
      flex-direction: column;
    }
  }
}
